RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\img.*\.jpg|img.*\.png|img.*\.gif|web.*\.csv|web.*\.xml|web.*\.xls|.*console\.php)$ [NC]
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]